html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 20px;
    word-break: break-word;
    max-width: 1000px;
    line-height: 1.5;
}

.header {
    font-size: 20px;
}

.container {
    background-color: white;
}

.container__header {
    padding: 20px;
    border-bottom: 3px solid #eee;
    font-size: 22px;
    margin: 10px 0 0 0;
}

.form__input {
    border-color: #eee;
    border-style: solid;
}

.form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto;
    padding: 20px;
}

.button {
    border-radius: 5px;
    background-color: teal;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: hsl(180, 100%, 30%);
}

.tasksList {
    list-style: none;
    padding: 30px;
    background-color: white;
    margin: 0;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px;
    grid-gap: 10px;
}

.list__item--margined {
    padding-top: 4px;
}

.list__item--done {
    text-decoration: line-through;
}

.list__item--hidden {
    display: none;
}

.list__button {
    padding: 0px;
    border: none;
    width: 30px;
    height: 30px;
    color: white;
    cursor: pointer;
}

.list__button--done {
    background-color: hsl(120, 62%, 35%);
}

.list__button--done:hover {
    background-color: hsl(120, 62%, 40%);
}

.list__button--done:active {
    background-color: hsl(120, 62%, 25%);
}

.list__button--remove {
    background-color: hsl(348, 83%, 45%);
}

.list__button--remove:hover {
    background-color: hsl(348, 83%, 40%);
}

.list__button--remove:active {
    background-color: hsl(348, 83%, 60%);
}